Student: Satish Byrow

#**1. Goal**
 - Apply json.loads to convert strings back to dictionaries or lists. - 
Handle dictionaries and lists stored within pandas DataFrames. - 
Leverage pandas string methods for filtering/separating data.er?

#**2. Import and Loading**

## Load Libraries & Functions

In [1]:
#Load Libraries
import pandas as pd
import numpy as np
import os, json
import matplotlib.pyplot as plt
import seaborn as sns

## Load Data

In [3]:
# Open saved file and preview again
df = pd.read_csv("Data/final_results_crab_cakes.csv.gz", low_memory = False)
df.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",['delivery'],$$,"{'address1': '203 N Paca St', 'address2': '', ...",1.410727e+10,(410) 727-4898,1349.560720
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",['delivery'],$$$,"{'address1': '1728 Thames St', 'address2': '',...",1.443450e+10,(443) 449-7726,2090.712792
2,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2918,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...","['pickup', 'delivery']",$$,"{'address1': '750 E Pratt St', 'address2': '',...",1.410529e+10,(410) 528-5373,1028.736468
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1277,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 39.27986, 'longitude': -76.5752399}","['pickup', 'delivery']",$$,"{'address1': '2901 Odonnell St', 'address2': '...",1.410276e+10,(410) 276-3160,3328.825798
4,p_XPpHiZbdOccx2jFUgZJA,the-local-oyster-baltimore,The Local Oyster,https://s3-media3.fl.yelpcdn.com/bphoto/u_33ay...,False,https://www.yelp.com/biz/the-local-oyster-balt...,217,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.2958288, 'longitude': -76.6188...",['delivery'],$$,"{'address1': '520 Park Ave', 'address2': None,...",1.844748e+10,(844) 748-2537,966.729941

In [4]:
#check types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             429 non-null    object
 1   alias          429 non-null    object
 2   name           429 non-null    object
 3   image_url      420 non-null    object
 4   is_closed      429 non-null    bool
 5   url            429 non-null    object
 6   review_count   429 non-null    int64
 7   categories     429 non-null    object
 8   rating         429 non-null    float64
 9   coordinates    429 non-null    object
 10  transactions   429 non-null    object
 11  price          339 non-null    object
 12  location       429 non-null    object
 13  phone          413 non-null    float64
 14  display_phone  413 non-null    object
 15  distance       429 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(11)
memory usage: 50.8+ KB

In [5]:
# Exploring existing format with a few examples
df['display_phone'].head(2)

0    (410) 727-4898
1    (443) 449-7726
Name: display_phone, dtype: object

In [6]:
## adding expand=True
df['display_phone'].str.split(' ',expand=True)

         0         1
0    (410)  727-4898
1    (443)  449-7726
2    (410)  528-5373
3    (410)  276-3160
4    (844)  748-2537
..     ...       ...
424  (410)  889-8891
425  (410)  235-2300
426  (410)  522-7757
427  (410)  889-3663
428  (410)  243-1301

[429 rows x 2 columns]

In [7]:
## save the 2 new columns into the dataframe
df[['area_code','phone_number']] = df['display_phone'].str.split(' ',expand=True)
df.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance,area_code,phone_number
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",['delivery'],$$,"{'address1': '203 N Paca St', 'address2': '', ...",1.410727e+10,(410) 727-4898,1349.560720,(410),727-4898
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",['delivery'],$$$,"{'address1': '1728 Thames St', 'address2': '',...",1.443450e+10,(443) 449-7726,2090.712792,(443),449-7726

In [8]:
## drop the original column 
df = df.drop(columns=['display_phone', 'phone'])
df.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,distance,area_code,phone_number
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",['delivery'],$$,"{'address1': '203 N Paca St', 'address2': '', ...",1349.560720,(410),727-4898
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",['delivery'],$$$,"{'address1': '1728 Thames St', 'address2': '',...",2090.712792,(443),449-7726

In [9]:
# Make a list of all characters to replace
to_replace = ['(',')']
# run a loop to replace all of the characters in the list at once
for char in to_replace:
    df['area_code'] = df['area_code'].str.replace(char,'',regex=False)
    
df['area_code'].head()

0    410
1    443
2    410
3    410
4    844
Name: area_code, dtype: object

In [10]:
## examining a single value from the coordinates col
coord = df.loc[0,"coordinates"]
print(type(coord))
coord

<class 'str'>

"{'latitude': 39.291696, 'longitude': -76.62224}"

In [11]:
coord = coord.replace("'",'"')
## now we can use json.loads
fixed_coord = json.loads(coord)
print(type(fixed_coord))
fixed_coord

<class 'dict'>

{'latitude': 39.291696, 'longitude': -76.62224}

In [12]:
## use .str.replace to replace all single quotes
df['coordinates'] = df['coordinates'].str.replace("'",'"')
## Apply the json.loads to the full column
df['coordinates'] = df['coordinates'].apply(json.loads)
df['coordinates'].head()

0      {'latitude': 39.291696, 'longitude': -76.62224}
1       {'latitude': 39.28214, 'longitude': -76.59162}
2    {'latitude': 39.2870995, 'longitude': -76.6053...
3     {'latitude': 39.27986, 'longitude': -76.5752399}
4    {'latitude': 39.2958288, 'longitude': -76.6188...
Name: coordinates, dtype: object

In [13]:
## check a single value after transformation
test_coord = df.loc[0, 'coordinates']
print(type(test_coord))
test_coord

<class 'dict'>

{'latitude': 39.291696, 'longitude': -76.62224}

In [14]:
lat_long = df['coordinates'].apply(pd.Series)
lat_long

      latitude  longitude
0    39.291696 -76.622240
1    39.282140 -76.591620
2    39.287099 -76.605366
3    39.279860 -76.575240
4    39.295829 -76.618891
..         ...        ...
424  39.330889 -76.634097
425  39.316500 -76.615560
426  39.281747 -76.581631
427  39.330860 -76.631610
428  39.330840 -76.633930

[429 rows x 2 columns]

In [15]:
# concat long_lat with original dataframe
df = pd.concat((df, lat_long), axis = 1)
df.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,distance,area_code,phone_number,latitude,longitude
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",['delivery'],$$,"{'address1': '203 N Paca St', 'address2': '', ...",1349.560720,410,727-4898,39.291696,-76.62224
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",['delivery'],$$$,"{'address1': '1728 Thames St', 'address2': '',...",2090.712792,443,449-7726,39.282140,-76.59162

In [16]:
df = df.drop(columns=['coordinates'])

In [17]:
## showing the lists are really strings
df.loc[2,'transactions']

"['pickup', 'delivery']"

In [19]:
# Create a new column where the single quotes are replaced by double quotes
df['transactions_split'] = df['transactions'].str.replace("'",'"')
# Apply json.loads to entire column
df['transactions_split'] = df['transactions_split'].apply(json.loads)
# check results
df['transactions_split'].head()

0            [delivery]
1            [delivery]
2    [pickup, delivery]
3    [pickup, delivery]
4            [delivery]
Name: transactions_split, dtype: object

In [20]:
df['transactions_split'].value_counts()

[delivery, pickup]                            119
[pickup, delivery]                            107
[delivery]                                    105
[]                                             86
[pickup]                                        6
[pickup, delivery, restaurant_reservation]      2
[delivery, pickup, restaurant_reservation]      2
[restaurant_reservation]                        2
Name: transactions_split, dtype: int64

In [21]:
## exploding the column of lists
exploded = df.explode('transactions_split')
exploded[['name','transactions','transactions_split']].head(5)

                         name            transactions transactions_split
0            Faidleys Seafood            ['delivery']           delivery
1  Thames Street Oyster House            ['delivery']           delivery
2         Miss Shirley's Cafe  ['pickup', 'delivery']             pickup
2         Miss Shirley's Cafe  ['pickup', 'delivery']           delivery
3    Mama's On The Half Shell  ['pickup', 'delivery']             pickup

In [22]:
## saving the unique values from the exploded column
cols_to_make = exploded['transactions_split'].dropna().unique()
cols_to_make

array(['delivery', 'pickup', 'restaurant_reservation'], dtype=object)

In [23]:
for col in cols_to_make:
    df[col] = df['transactions'].str.contains(col)
df.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,location,distance,area_code,phone_number,latitude,longitude,transactions_split,delivery,pickup,restaurant_reservation
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,['delivery'],...,"{'address1': '203 N Paca St', 'address2': '', ...",1349.560720,410,727-4898,39.291696,-76.622240,[delivery],True,False,False
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,['delivery'],...,"{'address1': '1728 Thames St', 'address2': '',...",2090.712792,443,449-7726,39.282140,-76.591620,[delivery],True,False,False
2,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2918,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"['pickup', 'delivery']",...,"{'address1': '750 E Pratt St', 'address2': '',...",1028.736468,410,528-5373,39.287099,-76.605366,"[pickup, delivery]",True,True,False
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1277,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"['pickup', 'delivery']",...,"{'address1': '2901 Odonnell St', 'address2': '...",3328.825798,410,276-3160,39.279860,-76.575240,"[pickup, delivery]",True,True,False
4,p_XPpHiZbdOccx2jFUgZJA,the-local-oyster-baltimore,The Local Oyster,https://s3-media3.fl.yelpcdn.com/bphoto/u_33ay...,False,https://www.yelp.com/biz/the-local-oyster-balt...,217,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,['delivery'],...,"{'address1': '520 Park Ave', 'address2': None,...",966.729941,844,748-2537,39.295829,-76.618891,[delivery],True,False,False

## Clean the Data

In [4]:
#Duplicate count
## Display the number of duplicate rows in the dataset
print(f'There are {df.duplicated().sum()} duplicate rows.')

There are 0 duplicate rows.

In [5]:
#Duplicate count
## Display the number of duplicate rows in the dataset
print(f'There are {df1.duplicated().sum()} duplicate rows.')

There are 0 duplicate rows.

In [6]:
# Display the total number of missing values
print(f'There are {df.isna().sum().sum()} missing values.')

There are 0 missing values.

In [7]:
# Display the total number of missing values
print(f'There are {df1.isna().sum().sum()} missing values.')

There are 0 missing values.

In [8]:
#Check for categorical descrepencies
for col in df.select_dtypes(include='object').columns:
  print(df[col].value_counts())

Spider-Man|Marvel Comics       3
Black Canary|DC Comics         2
Nova|Marvel Comics             2
Toxin|Marvel Comics            2
Batman|DC Comics               2
                              ..
Fabian Cortez|Marvel Comics    1
Exodus|Marvel Comics           1
Evilhawk|Marvel Comics         1
Evil Deadpool|Marvel Comics    1
Zoom|DC Comics                 1
Name: Hero|Publisher, Length: 457, dtype: int64
Male       321
Female     134
Unknown      8
Name: Gender, dtype: int64
Human                156
Unknown              145
Mutant                51
Human / Radiation     11
Android                7
Symbiote               7
Alien                  6
Demon                  6
Cyborg                 6
Kryptonian             5
Atlantean              5
Asgardian              5
Inhuman                4
New God                3
Human-Kree             2
Eternal                2
Demi-God               2
Saiyan                 2
Amazon                 2
Human / Altered        2
Metahuman              2
God / Eternal          2
Human-Vulcan           1
Martian                1
Zombie                 1
Korugaran              1
Talokite               1
Clone                  1
Human-Spartoi          1
Animal                 1
Yautja                 1
Human / Cosmic         1
Tamaranean             1
Mutant / Clone         1
Luphomoid              1
Frost Giant            1
Strontian              1
Czarnian               1
Bolovaxian             1
Human-Vuldarian        1
Flora Colossus         1
Gorilla                1
Icthyo Sapien          1
Zen-Whoberian          1
Cosmic Entity          1
Kakarantharaian        1
Vampire                1
Bizarro                1
Neyaphem               1
Xenomorph XX121        1
Ungaran                1
Yoda's species         1
Name: Race, dtype: int64
good       311
bad        132
neutral     17
Unknown      3
Name: Alignment, dtype: int64
Black               127
Blond                74
Brown                69
No Hair              52
Red                  41
White                22
Unknown              18
Auburn               13
Green                 6
Strawberry Blond      5
Purple                4
Brown / White         4
Grey                  4
black                 3
blond                 3
Silver                3
Blue                  2
Orange                2
Pink                  1
Gold                  1
Red / White           1
Indigo                1
Red / Orange          1
Red / Grey            1
Brownn                1
Yellow                1
Orange / White        1
Magenta               1
Black / Blue          1
Name: Hair color, dtype: int64
blue                       182
brown                      102
green                       61
red                         38
Unknown                     17
yellow                      13
black                       12
white                       10
grey                         5
hazel                        5
gold                         3
purple                       3
yellow (without irises)      2
amber                        2
violet                       2
white / red                  1
indigo                       1
silver                       1
green / blue                 1
blue / white                 1
yellow / blue                1
Name: Eye color, dtype: int64
Unknown       409
green          15
blue            7
red             7
white           5
grey            4
silver          4
purple          3
gold            2
pink            2
yellow          2
black           1
blue-white      1
orange          1
Name: Skin color, dtype: int64
{'Height': '183.0 cm', 'Weight': '90.0 kg'}     6
{'Height': '183.0 cm', 'Weight': '86.0 kg'}     6
{'Height': '178.0 cm', 'Weight': '79.0 kg'}     6
{'Height': '188.0 cm', 'Weight': '95.0 kg'}     6
{'Height': '180.0 cm', 'Weight': '81.0 kg'}     6
                                               ..
{'Height': '701.0 cm', 'Weight': '4.0 kg'}      1
{'Height': '185.0 cm', 'Weight': '89.0 kg'}     1
{'Height': '259.0 cm', 'Weight': '158.0 kg'}    1
{'Height': '191.0 cm', 'Weight': '65.0 kg'}     1
{'Height': '66.0 cm', 'Weight': '17.0 kg'}      1
Name: Measurements, Length: 287, dtype: int64

In [9]:
#Replace values
df["Hair color"].replace("black","Black", inplace=True)
df["Hair color"].replace("blond","Blond", inplace=True)
df["Hair color"].replace("Brownn","Brown", inplace=True)

In [10]:
#REplace values on measurements
df['Measurements'] = df['Measurements'].str.replace("'",'"')
df['Measurements'] = df['Measurements'].str.replace(" cm","")
df['Measurements'] = df['Measurements'].str.replace(" kg","")
df['Measurements'] = df['Measurements'].apply(json.loads)
df['Measurements']

0      {'Height': '203.0', 'Weight': '441.0'}
1       {'Height': '191.0', 'Weight': '65.0'}
2       {'Height': '185.0', 'Weight': '90.0'}
3      {'Height': '203.0', 'Weight': '441.0'}
4      {'Height': '193.0', 'Weight': '122.0'}
                        ...
458     {'Height': '183.0', 'Weight': '83.0'}
459     {'Height': '165.0', 'Weight': '52.0'}
460      {'Height': '66.0', 'Weight': '17.0'}
461     {'Height': '170.0', 'Weight': '57.0'}
462     {'Height': '185.0', 'Weight': '81.0'}
Name: Measurements, Length: 463, dtype: object

In [11]:
#Split measurements
height_weight= df['Measurements'].apply(pd.Series)
height_weight

    Height Weight
0    203.0  441.0
1    191.0   65.0
2    185.0   90.0
3    203.0  441.0
4    193.0  122.0
..     ...    ...
458  183.0   83.0
459  165.0   52.0
460   66.0   17.0
461  170.0   57.0
462  185.0   81.0

[463 rows x 2 columns]

In [12]:
# concat height_weight with original dataframe
df = pd.concat((df, height_weight), axis = 1)
df.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Height,Weight
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0', 'Weight': '441.0'}",203.0,441.0
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0', 'Weight': '65.0'}",191.0,65.0

In [13]:
#Convert to Numeric
df["Height"] = df["Height"].astype(float)
df["Weight"] = df["Weight"].astype(float)

In [14]:
#drop measurements
df = df.drop(columns=['Measurements'])
df.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Height,Weight
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,203.0,441.0
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0,65.0

In [15]:
#Split Hero|Plublisher
df[['Hero','Publisher']] = df['Hero|Publisher'].str.split('|',expand=True)
df.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Height,Weight,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,203.0,441.0,A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0,65.0,Abe Sapien,Dark Horse Comics
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,185.0,90.0,Abin Sur,DC Comics
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,203.0,441.0,Abomination,Marvel Comics
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,193.0,122.0,Absorbing Man,Marvel Comics

In [16]:
#Set column order
df = df.drop(columns=['Hero|Publisher'])
df = df[['Hero', 'Publisher', 'Gender', 'Eye color','Race','Hair color','Height', 'Skin color','Alignment','Weight']]
df.head()

,Hero,Publisher,Gender,Eye color,Race,Hair color,Height,Skin color,Alignment,Weight
0,A-Bomb,Marvel Comics,Male,yellow,Human,No Hair,203.0,Unknown,good,441.0
1,Abe Sapien,Dark Horse Comics,Male,blue,Icthyo Sapien,No Hair,191.0,blue,good,65.0
2,Abin Sur,DC Comics,Male,blue,Ungaran,No Hair,185.0,red,good,90.0
3,Abomination,Marvel Comics,Male,green,Human / Radiation,No Hair,203.0,Unknown,bad,441.0
4,Absorbing Man,Marvel Comics,Male,blue,Human,No Hair,193.0,Unknown,bad,122.0

In [17]:
#Check for categorical descrepencies
for col in df1.select_dtypes(include='object').columns:
  print(df1[col].value_counts())

3-D Man            1
Namora             1
Naruto Uzumaki     1
Nathan Petrelli    1
Nebula             1
                  ..
Evilhawk           1
Exodus             1
Fabian Cortez      1
Falcon             1
Zoom               1
Name: hero_names, Length: 667, dtype: int64
Intelligence                                                                                                                                                                                                                                                         8
Durability,Super Strength                                                                                                                                                                                                                                            5
Agility,Stealth,Marksmanship,Weapons Master,Stamina                                                                                                                                                                                                                  4
Marksmanship                                                                                                                                                                                                                                                         4
Teleportation                                                                                                                                                                                                                                                        4
                                                                                                                                                                                                                                                                    ..
Accelerated Healing,Flight,Telepathy,Energy Blasts,Teleportation,Telekinesis,Astral Projection,Psionic Powers,Mind Blast,Regeneration,Illusions,Resurrection                                                                                                         1
Flight,Telepathy,Animal Oriented Powers,Gliding                                                                                                                                                                                                                      1
Accelerated Healing,Durability,Energy Absorption,Flight,Super Strength,Telepathy,Energy Blasts,Size Changing,Super Speed,Darkforce Manipulation,Enhanced Senses,Phasing,Invulnerability,Self-Sustenance,Gravity Control,Energy Manipulation,Time Travel,Illusions    1
Agility,Accelerated Healing,Super Strength,Super Speed,Animal Oriented Powers,Enhanced Senses,Jump,Reflexes,Natural Weapons                                                                                                                                          1
Super Speed,Intangibility,Time Travel,Time Manipulation                                                                                                                                                                                                              1
Name: Powers, Length: 608, dtype: int64

In [18]:
#Split the values to only return unique
powers_split = df1['Powers'].str.split(",")
unique_powers = powers_split.explode().unique()
unique_powers

array(['Agility', 'Super Strength', 'Stamina', 'Super Speed',
       'Accelerated Healing', 'Durability', 'Longevity', 'Camouflage',
       'Self-Sustenance', 'Cold Resistance', 'Underwater breathing',
       'Marksmanship', 'Weapons Master', 'Intelligence', 'Telepathy',
       'Immortality', 'Reflexes', 'Enhanced Sight', 'Sub-Mariner',
       'Lantern Power Ring', 'Invulnerability', 'Animation',
       'Super Breath', 'Dimensional Awareness', 'Flight', 'Size Changing',
       'Teleportation', 'Magic', 'Dimensional Travel',
       'Molecular Manipulation', 'Energy Manipulation', 'Power Cosmic',
       'Energy Absorption', 'Elemental Transmogrification',
       'Fire Resistance', 'Natural Armor', 'Heat Resistance',
       'Matter Absorption', 'Regeneration', 'Stealth', 'Power Suit',
       'Energy Blasts', 'Energy Beams', 'Heat Generation', 'Danger Sense',
       'Phasing', 'Force Fields', 'Hypnokinesis', 'Invisibility',
       'Enhanced Senses', 'Jump', 'Shapeshifting', 'Elasticity',
       'Substance Secretion', 'Enhanced Hearing', 'Adaptation', 'Gliding',
       'Natural Weapons', 'Wallcrawling', 'Vision - Thermal',
       'Power Augmentation', 'Cryokinesis', 'Duplication',
       'Weapon-based Powers', 'Fire Control', 'Enhanced Memory',
       'Energy Constructs', 'Power Absorption', 'Time Travel',
       'Enhanced Smell', 'Water Control', 'Vision - Telescopic',
       'Magnetism', 'Vision - Microscopic', 'Vision - Night',
       'Vision - Heat', 'Vision - X-Ray', 'Psionic Powers',
       'Toxin and Disease Resistance', 'Animal Attributes',
       'Animal Oriented Powers', 'Toxin and Disease Control', 'Empathy',
       'Animal Control', 'Darkforce Manipulation', 'Time Manipulation',
       'Reality Warping', 'Web Creation', 'Symbiote Costume',
       'Telekinesis', 'Levitation', 'Biokinesis', 'Sonar',
       'Enhanced Touch', 'Seismic Power', 'Energy Armor',
       'Omnilingualism', 'Radiation Immunity', 'Density Control',
       'Light Control', 'Illumination', 'Molecular Combustion',
       'Astral Travel', 'Precognition', 'Intangibility', 'Illusions',
       'Audio Control', 'Sonic Scream', 'Peak Human Condition',
       'Vision - Infrared', 'Dexterity', 'Omnitrix', 'Omnipotent',
       'Possession', 'Energy Resistance', 'Vision - Cryo', 'Mind Control',
       'Mind Blast', 'Clairvoyance', 'Probability Manipulation',
       'Death Touch', 'Electrokinesis', 'Gravity Control',
       'Technopath/Cyberpath', 'Radar Sense', 'Astral Projection',
       'Cloaking', 'Telepathy Resistance', 'Mind Control Resistance',
       'Hyperkinesis', 'Spatial Awareness', 'Radiation Control',
       'Radiation Absorption', 'Magic Resistance', 'Element Control',
       'Plant Control', 'Terrakinesis', 'Power Sense', 'Wind Control',
       'Qwardian Power Ring', 'Echolocation', 'Resurrection', 'The Force',
       'Summoning', 'Banish', 'Molecular Dissipation',
       'Electrical Transport', 'Speed Force', 'Grim Reaping',
       'Portal Creation', 'Vitakinesis', 'Projection', 'Insanity',
       'Photographic Reflexes', 'Anti-Gravity', 'Thirstokinesis',
       'Power Nullifier', 'Weather Control', 'Omnipresent', 'Omniscient',
       'Hair Manipulation', 'Nova Force', 'Odin Force', 'Phoenix Force',
       'Intuitive aptitude', 'Melting', 'Changing Armor'], dtype=object)

In [19]:
#Convert array to dataframe and then explode
df1['Powers'] = pd.DataFrame(unique_powers)
exploded = df1.explode('Powers')
exploded[['hero_names','Powers']].head(5)

    hero_names               Powers
0      3-D Man              Agility
1       A-Bomb       Super Strength
2   Abe Sapien              Stamina
3     Abin Sur          Super Speed
4  Abomination  Accelerated Healing

In [20]:
## exploding the column of lists
## saving the unique values from the exploded column
cols_to_make = exploded['Powers'].dropna().unique()
cols_to_make

array(['Agility', 'Super Strength', 'Stamina', 'Super Speed',
       'Accelerated Healing', 'Durability', 'Longevity', 'Camouflage',
       'Self-Sustenance', 'Cold Resistance', 'Underwater breathing',
       'Marksmanship', 'Weapons Master', 'Intelligence', 'Telepathy',
       'Immortality', 'Reflexes', 'Enhanced Sight', 'Sub-Mariner',
       'Lantern Power Ring', 'Invulnerability', 'Animation',
       'Super Breath', 'Dimensional Awareness', 'Flight', 'Size Changing',
       'Teleportation', 'Magic', 'Dimensional Travel',
       'Molecular Manipulation', 'Energy Manipulation', 'Power Cosmic',
       'Energy Absorption', 'Elemental Transmogrification',
       'Fire Resistance', 'Natural Armor', 'Heat Resistance',
       'Matter Absorption', 'Regeneration', 'Stealth', 'Power Suit',
       'Energy Blasts', 'Energy Beams', 'Heat Generation', 'Danger Sense',
       'Phasing', 'Force Fields', 'Hypnokinesis', 'Invisibility',
       'Enhanced Senses', 'Jump', 'Shapeshifting', 'Elasticity',
       'Substance Secretion', 'Enhanced Hearing', 'Adaptation', 'Gliding',
       'Natural Weapons', 'Wallcrawling', 'Vision - Thermal',
       'Power Augmentation', 'Cryokinesis', 'Duplication',
       'Weapon-based Powers', 'Fire Control', 'Enhanced Memory',
       'Energy Constructs', 'Power Absorption', 'Time Travel',
       'Enhanced Smell', 'Water Control', 'Vision - Telescopic',
       'Magnetism', 'Vision - Microscopic', 'Vision - Night',
       'Vision - Heat', 'Vision - X-Ray', 'Psionic Powers',
       'Toxin and Disease Resistance', 'Animal Attributes',
       'Animal Oriented Powers', 'Toxin and Disease Control', 'Empathy',
       'Animal Control', 'Darkforce Manipulation', 'Time Manipulation',
       'Reality Warping', 'Web Creation', 'Symbiote Costume',
       'Telekinesis', 'Levitation', 'Biokinesis', 'Sonar',
       'Enhanced Touch', 'Seismic Power', 'Energy Armor',
       'Omnilingualism', 'Radiation Immunity', 'Density Control',
       'Light Control', 'Illumination', 'Molecular Combustion',
       'Astral Travel', 'Precognition', 'Intangibility', 'Illusions',
       'Audio Control', 'Sonic Scream', 'Peak Human Condition',
       'Vision - Infrared', 'Dexterity', 'Omnitrix', 'Omnipotent',
       'Possession', 'Energy Resistance', 'Vision - Cryo', 'Mind Control',
       'Mind Blast', 'Clairvoyance', 'Probability Manipulation',
       'Death Touch', 'Electrokinesis', 'Gravity Control',
       'Technopath/Cyberpath', 'Radar Sense', 'Astral Projection',
       'Cloaking', 'Telepathy Resistance', 'Mind Control Resistance',
       'Hyperkinesis', 'Spatial Awareness', 'Radiation Control',
       'Radiation Absorption', 'Magic Resistance', 'Element Control',
       'Plant Control', 'Terrakinesis', 'Power Sense', 'Wind Control',
       'Qwardian Power Ring', 'Echolocation', 'Resurrection', 'The Force',
       'Summoning', 'Banish', 'Molecular Dissipation',
       'Electrical Transport', 'Speed Force', 'Grim Reaping',
       'Portal Creation', 'Vitakinesis', 'Projection', 'Insanity',
       'Photographic Reflexes', 'Anti-Gravity', 'Thirstokinesis',
       'Power Nullifier', 'Weather Control', 'Omnipresent', 'Omniscient',
       'Hair Manipulation', 'Nova Force', 'Odin Force', 'Phoenix Force',
       'Intuitive aptitude', 'Melting', 'Changing Armor'], dtype=object)

In [21]:
for col in cols_to_make:
    df1[col] = df1['Powers'].str.contains(col)
df1.head()

C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)
C:\Users\sbyrow\AppData\Local\Temp\ipykernel_20436\779434845.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[col] = df1['Powers'].str.contains(col)

,hero_names,Powers,Agility,Super Strength,Stamina,Super Speed,Accelerated Healing,Durability,Longevity,Camouflage,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,3-D Man,Agility,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,Super Strength,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,Stamina,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,Super Speed,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,Accelerated Healing,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [22]:
#Drop Powers
df1 = df1.drop(columns=['Powers'])
df1.head(2)

,hero_names,Agility,Super Strength,Stamina,Super Speed,Accelerated Healing,Durability,Longevity,Camouflage,Self-Sustenance,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [23]:
#Rename column
df1.rename(columns={'hero_names': 'Hero'}, inplace=True)

## Combine Data

In [28]:
#Combine the data sets
df_main = pd.concat([df, df1], axis = 1)
df_main.head(30)

,Hero,Publisher,Gender,Eye color,Race,Hair color,Height,Skin color,Alignment,Weight,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,A-Bomb,Marvel Comics,Male,yellow,Human,No Hair,203.0,Unknown,good,441.0,...,False,False,False,False,False,False,False,False,False,False
1,Abe Sapien,Dark Horse Comics,Male,blue,Icthyo Sapien,No Hair,191.0,blue,good,65.0,...,False,False,False,False,False,False,False,False,False,False
2,Abin Sur,DC Comics,Male,blue,Ungaran,No Hair,185.0,red,good,90.0,...,False,False,False,False,False,False,False,False,False,False
3,Abomination,Marvel Comics,Male,green,Human / Radiation,No Hair,203.0,Unknown,bad,441.0,...,False,False,False,False,False,False,False,False,False,False
4,Absorbing Man,Marvel Comics,Male,blue,Human,No Hair,193.0,Unknown,bad,122.0,...,False,False,False,False,False,False,False,False,False,False
5,Adam Strange,DC Comics,Male,blue,Human,Blond,185.0,Unknown,good,88.0,...,False,False,False,False,False,False,False,False,False,False
6,Agent Bob,Marvel Comics,Male,brown,Human,Brown,178.0,Unknown,good,81.0,...,False,False,False,False,False,False,False,False,False,False
7,Agent Zero,Marvel Comics,Male,Unknown,Unknown,Unknown,191.0,Unknown,good,104.0,...,False,False,False,False,False,False,False,False,False,False
8,Air-Walker,Marvel Comics,Male,blue,Unknown,White,188.0,Unknown,bad,108.0,...,False,False,False,False,False,False,False,False,False,False
9,Ajax,Marvel Comics,Male,brown,Cyborg,Black,193.0,Unknown,bad,90.0,...,False,False,False,False,False,False,False,False,False,False
10,Alan Scott,DC Comics,Male,blue,Unknown,Blond,180.0,Unknown,good,90.0,...,False,False,False,False,False,False,False,False,False,False
11,Alien,Dark Horse Comics,Male,Unknown,Xenomorph XX121,No Hair,244.0,black,bad,169.0,...,False,False,False,False,False,False,False,False,False,False
12,Amazo,DC Comics,Male,red,Android,Unknown,257.0,Unknown,bad,173.0,...,False,False,False,False,False,False,False,False,False,False
13,Ammo,Marvel Comics,Male,brown,Human,Black,188.0,Unknown,bad,101.0,...,False,False,False,False,False,False,False,False,False,False
14,Angel,Marvel Comics,Male,blue,Unknown,Blond,183.0,Unknown,good,68.0,...,False,False,False,False,False,False,False,False,False,False
15,Angel Dust,Marvel Comics,Female,yellow,Mutant,Black,165.0,Unknown,good,57.0,...,False,False,False,False,False,False,False,False,False,False
16,Angel Salvadore,Marvel Comics,Female,brown,Unknown,Black,163.0,Unknown,good,54.0,...,False,False,False,False,False,False,False,False,False,False
17,Animal Man,DC Comics,Male,blue,Human,Blond,183.0,Unknown,good,83.0,...,False,False,False,False,False,False,False,False,False,False
18,Annihilus,Marvel Comics,Male,green,Unknown,No Hair,180.0,Unknown,bad,90.0,...,False,False,False,False,False,False,False,False,False,False
19,Ant-Man,Marvel Comics,Male,blue,Human,Blond,211.0,Unknown,good,122.0,...,False,False,False,False,False,False,False,False,False,False
20,Ant-Man II,Marvel Comics,Male,blue,Human,Blond,183.0,Unknown,good,86.0,...,False,False,False,False,False,False,False,False,False,False
21,Anti-Venom,Marvel Comics,Male,blue,Symbiote,Blond,229.0,Unknown,Unknown,358.0,...,False,False,False,False,False,False,False,False,False,False
22,Apocalypse,Marvel Comics,Male,red,Mutant,Black,213.0,grey,bad,135.0,...,False,False,False,False,False,False,False,False,False,False
23,Aqualad,DC Comics,Male,blue,Atlantean,Black,178.0,Unknown,good,106.0,...,False,False,False,False,False,False,False,False,False,False
24,Aquaman,DC Comics,Male,blue,Atlantean,Blond,185.0,Unknown,good,146.0,...,False,False,False,False,False,False,False,False,False,False
25,Arachne,Marvel Comics,Female,blue,Human,Blond,175.0,Unknown,good,63.0,...,False,False,False,False,False,False,False,False,False,False
26,Archangel,Marvel Comics,Male,blue,Mutant,Blond,183.0,blue,good,68.0,...,False,False,False,False,False,False,False,False,False,False
27,Arclight,Marvel Comics,Female,violet,Unknown,Purple,173.0,Unknown,bad,57.0,...,False,False,False,False,False,False,False,False,False,False
28,Ardina,Marvel Comics,Female,white,Alien,Orange,193.0,gold,good,98.0,...,False,False,False,False,False,False,False,False,False,False
29,Ares,Marvel Comics,Male,brown,Unknown,Brown,185.0,Unknown,good,270.0,...,False,False,False,False,False,False,False,False,False,False

## Explore the Data

In [27]:
#Compare the average weight of super powers who have Super Speed to those who do not.
#df_main.groupby('Hero').contains('Super Speed')['Weight'].mean()
df_main.groupby('Super Speed')['Weight'].mean()

Super Speed
False    107.343373
True     441.000000
Name: Weight, dtype: float64

In [26]:
#What is the average height of heroes for each publisher?
df_main.groupby('Publisher')['Height'].mean()

Publisher
DC Comics            181.923913
Dark Horse Comics    176.909091
George Lucas         159.600000
Image Comics         211.000000
Marvel Comics        191.546128
Shueisha             171.500000
Star Trek            181.500000
Team Epic TV         180.750000
Unknown              178.000000
Name: Height, dtype: float64